﻿<h2>Список</h2>
<ol type="A">
    @for (int i = 1; i < 5; i++)
    {
        <li>элемент @i списка</li>
    }
</ol>
<hr />
<h2>Форма</h2>
@using(@Html.BeginForm("Index","Home",FormMethod.Get,new{@class="form-horizontal"})){
<div class="form-group">
    <div class="col-xs-10 col-xs-offset-2">
        <div class="checkbox">
            <label class="checkbox">
                @Html.CheckBox("cBox1")
                Чек-бокс 1
            </label>
        </div>
        <div class="checkbox">
            <label class="checkbox">
                @Html.CheckBox("cBox2")
                Чек-бокс 2
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-10 col-xs-offset-2">
        <label class="radio-inline">
            @Html.RadioButton("radio", 1, new { required = "required" })
            Радио-1
        </label>
        <label class="radio-inline">
            @Html.RadioButton("radio", 2,new{ required = "required" })
            Радио-2
        </label>
    </div>
</div>
<div class="form-group">
    <label for="login" class="control-label col-xs-2">Логин</label>
    <div class="col-xs-10">
        @Html.TextBox("login", "", new { id = "login", placeholder = "Введите логин", required = "required", @class = "form-control" })
    </div>
</div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-2">Пароль</label>
        <div class="col-xs-10">
            @Html.Password("password", "", new { id = "password", placeholder = "Введите пароль", required = "required", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Цвет:</label>
        <div class="col-xs-10">
            @Html.DropDownList("Colors", (SelectList)ViewBag.Colors, new { required = "required", @class = "form-control" })
        </div>
    </div>
<div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-default">Отправить</button>
    </div>
</div>
}
